# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/Coding/helloWorld.class
/Coding/names.sql
/Coding/picture1.png
/Coding/picture2.png
/Coding/reverseString.class
